  
<div class="row">
    <div class="col-sm-6 col-sm-offset-3">
        <a href="{{post.url}}" class="lead">{{post.title}}</a>
        <div><small>{{post.author.username}}</small></div>
        <p>{{post.summary}}</p>
        <hr>
        {{#if currentUser}}
            <form action="/posts/{{post._id}}/comments" method="POST">
                <textarea class="form-control" name="content" placeholder="Comment"></textarea>
                <div class="text-right">
                    <button class="btn btn-primary" type="submit">Save</button>
                </div>
            </form>
        {{else}}
            <h6>Log in or sign up to leave a comment.</h6>
        {{/if}}
        
        <h4>Comments</h4>
        {{#each post.comments}}
            <div>
                {{this.content}}
                <p class="text-right">{{this.author.username}}</p>
            </div>
        {{/each}}
    </div>
</div>